name: CI Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
  steps:
    # This step checks out a copy of your repository.
    - name: My first step - check out repository
      uses: actions/checkout@v2
    
    - name: echo
      run: echo "hi"